<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>amardeep_singh17</title>
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link rel="stylesheet" href="css+/styles.css" />
    <link rel="stylesheet" href="css+/responsive-styles.css" />
  </head>
  <body>
    <div class="nav">
      <ul>
        <li class="nav-home"><i class="fa fa-home"></i><span>home</span></li>

        <li class="nav-about">
          <i class="fa-solid fa-user"></i><span>about</span>
        </li>

        <li class="nav-works">
          <i class="fa-solid fa-briefcase"></i><span>portfolio</span>
        </li>
        <li class="nav-contact">
          <i class="fa-solid fa-envelope"></i><span>contact</span>
        </li>
        <li class="nav-team"><i class="fas fa-users"></i><span>team</span></li>
      </ul>
    </div>
  </body>
</html>
