@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
$bg1:#ffb400;
$bg2:#111111;
$text-color:#fff;
$btn-color:#2B2A2A ; 
$bg-text:#212121;
$mb-btn-color:#444;

*{
   margin:0 ;
   padding: 0;
   box-sizing: border-box;
}

html body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background-color: $bg2;
}


// index
@media only screen and (max-width: 1300px){
    section.index{
        .container{
            .text{
 
                margin-left: 0;
                .name , .profession{
                 font-size: 42px;
                    margin-left: 0%;
                }
                .name{
                     &::before{
                         content: none;
                     }
                 
                }
            }
        }
    }
 }
 @media only screen and (max-width: 1100px){
     section.index{
         .container{
             .text{
                 padding-left: 8%;
             }
         }
     }
 }
 
 @media only screen and (max-width: 1000px){
     body{
        //  overflow-y: scroll;
         background-color: $bg2;

     }
     section.index{
        background-color: $bg2 !important;
        background: none;
        margin: 0 auto;
         .container{
             flex-direction: column;
             // justify-content: start;
             height: fit-content;
             .image{
                 margin: 16px auto 0;
                 width: 270px;
                 height: 270px;
                 border-radius: 50%;
                 background-position: unset;
                 border: 4px solid #252525 ;
             }
             .text{
                 padding: 32px 3% 160px;
                 margin: auto;
                 width: 70%;
                 text-align: center;
                 .name , .profession{
                     font-size: 38px;
                     line-height: 48px;
                 }
             }
         }
     }
     .nav{
         height: 60px;
         position: fixed;
         flex-direction: row;
         top: unset;
         bottom: 0%;
         right: unset;
         margin: auto;
         width: 100%;
         background-color: $btn-color;
         align-items: center;
         ul{
             right: 0%;
             display: flex;
             justify-content: space-around;
            width: 100%;
             align-items: center;
 
             li{
                 width: 45px;
                 height: 45px;
                 background-color: $mb-btn-color;
                 span{
                     display: none;
                 }
             }
         }
     }
 }
 @media only screen and (max-width: 800px){
     section.index{
         .container{
             .text{
                 width: 80%;
                 padding: 32px 0% 160px;
             }
         }
     }
 }
 @media only screen and (max-width: 600px){
     section.index{
         .container{
             .image{
                 width: 230px;
                 height: 230px;
             }
             .text{
                 .name , .profession{
                     font-size: 29px;
                     line-height: 40px;
                 }
                 width: 80%;
                 padding: 32px 0% 160px;
             }
         }
     }
 }
 
 @media only screen and (max-width: 400px){
     section.index{
         .container{
             .text{
                 width: 95%;
                 
             }
         }
     }
 }


//  about

@media only screen and (max-width: 1400px){
    section.about-me{
        .container{
            margin: 0 8%;
        }
    }
}
@media only screen and (max-width: 1250px){
    section.about-me{
        margin-bottom: 10%;
        .container{
            margin: 0 6%;
            .list-container{
                ul{
                    li{
                        span{
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1000px){
    body{
        overflow-y: scroll;
        background-color: $bg2;
    }



   section.about{
    section.about-me{
        // height: 170vh;
        .container{
            margin: 0 6%;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .left{
                width: 100%;
                margin-bottom: 160px;
                .list-container{
                    width: 80%;
                   width: 100%;
                    ul{
                        margin: 0 0px;
                        li{
                            span{
                                display: unset;
                            }
                        }
                    }
                }
  
        }
        .right{
            width: 100%;
            .right-up , .right-down{
                justify-content: space-around;
            }
        }
        }
    }
   }
}
@media only screen and (max-width: 760px){
section.about{
    section.about-me{
        margin-bottom: 4%;
        .list-container{
            padding: 0 !important;
        }

    }
    section.skills{
        // height: 150vh;
        .skill-set{
            flex-wrap: wrap;
            .skill-container{
    
                width: 35%;
            }
        }
       }
    }
}

@media only screen and (max-width: 560px){
section.about{
    section.about-me{
        // height: 190vh;
        .title{
            padding: 40px 12px;
            h1{
                text-align: left;
                font-size: 35px;
            }
            .bg-title{
                display: none;
            }
        }
        .image{
            width: 230px;
            height: 230px;
            background-image: url(../images/profile.png);
            background-size: cover;
            border-radius: 50%;
            margin: 16px auto 0;
            border-radius: 50%;
            border: 4px solid #252525 ;
        }
        .container{
            margin: 0;
            .left{
                margin-bottom: 80px;
                h1{
                    font-size: 21px;
                }
                .list-container{
                    padding: 0 12px;
                    width: 80%;
                    ul{
                        li{
                            span{
                                display: block;
                            }
                        }
                    }
                }
            }
            .right{
                .right-up , .right-down{
                    div{
                        h1{
                            font-size: 40px;
                        }
                        h3{
                            padding: 0%;
                            &::before{
                                content: none;
                            }
                        }
                    }
                }
            }
        }
    }
    section.skills{
        h1{
            font-size: 21px;
            text-align: left;
            padding-left: 12px;
            margin-bottom: 28px;

        }
        .skill-set{
            .skill-container{
                .skill{
                    width: 90px;
                    height: 90px;
                    border: 6px solid $bg1;
                    &::before{
                        width: 78px;
                        height: 78px;
                        top: -8px;
                        left: -6px;
                        border: 8px solid $btn-color;
                    }
                }
            }
        }
    }
}
}
@media only screen and (max-width: 380px){
section.about{
    section.about-me{
        .container{
            .left{
                .list-container{
                    width: 100%;
                    padding: 0%;
                }
            }
            .right{
                padding: 12px;
            }
        }

    }
    section.skills{
        .heading{
            margin-bottom: 28px;
        }
    }
}
}


// works

@media only screen and (max-width: 1000px){
    section.works{
       .images{
        margin-bottom: 42px;

       }
    }
}
   
   @media only screen and (max-width: 600px){
   
       section.works{
           .title{
               padding: 40px 12px 60px;
               h1{
                   text-align: left;
                   font-size: 35px;
               }
               .bg-title{
                   display: none;
               }
           }
       }
   }
   
   @media only screen and (max-width: 400px){
       section.works{
          .images{
              .image{
                  img{
                      width: 320px;
                  }
                  .overlay{
                      width: 320px;
                  }
              }
          }
       }
   }

//    contact

@media only screen and (max-width: 1000px){


    section.contact{
        .container{
            flex-direction: column;
            .left{
                width: 100%;
                margin-bottom: 80px;
            }
            .right{
                width: 100%;
                margin-bottom: 120px;
            }
        }
    }
   
 }
 @media only screen and (max-width: 700px){

    section.contact{
        .title{
            padding: 40px 12px 60px;
            h1{
                text-align: left;
                font-size: 35px;
            }
            .bg-title{
                display: none;
            }
        }
        .container{
            
            .right{
                .form-top{
                    flex-direction: column;
                }
                input , textarea{
                    width: 100%;
                }
            }
        }
    }
}


// teams

@media only screen and (max-width: 1000px){

    section.team{
        .card-container{
            margin-bottom: 80px;
        }
    }
 }


 @media only screen and (max-width: 700px){

    section.team{
        .title{
            padding: 60px 12px 60px;
            h1{
                text-align: left;
                font-size: 35px;
            }
            .bg-title{
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 500px){
    section.team{
        padding-bottom: 80px;
        .card-container{
            margin: 0%;
 
        }
    }
}
@media only screen and (max-width: 350px){
    section.team{
     
        .card-container{
            .card{
                width: 300px;
                .card-data{
                    top: 16px;
                }
            }
        }
    }
}